<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ag.orca.living.core.dao.org.OrgAdminMapper">

    <resultMap id="OrgAdmin" type="ag.orca.living.core.entity.org.OrgAdmin">
        <result property="id" column="id"/>
        <result property="orgId" column="org_id"/>

        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="status" column="status"/>

        <result property="deleted" column="deleted"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectColumns">
        select id,
               org_id,
               account,
               password,
               status,
               deleted,
               create_time,
               update_time
        from t_org_admin
    </sql>

    <insert id="insert" parameterType="ag.orca.living.core.entity.org.OrgAdmin" useGeneratedKeys="true"
            keyProperty="id">
        insert t_org_admin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="orgId != null">org_id,</if>

            <if test="account != null and account != ''">account,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="status != null">status,</if>

            <if test="deleted != null">deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="orgId != null">#{orgId},</if>

            <if test="account != null and account != ''">#{account},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="status != null">#{status},</if>

            <if test="deleted != null">#{deleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="resetOrgAdminPwdById">
        update t_org_admin
        set password    = #{password},
            update_time = #{dateTime}
        where id = #{id}
    </update>
    <select id="findOrgAdminByAccount" resultMap="OrgAdmin">
        <include refid="selectColumns"/>
        where account = #{account} limit 1
    </select>

</mapper>