<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ag.orca.living.core.dao.org.OrgAccountMapper">

    <resultMap id="OrgAccount" type="ag.orca.living.core.entity.org.OrgAccount">
        <result property="id" column="id"/>
        <result property="orgId" column="org_id"/>

        <result property="balance" column="balance"/>
        <result property="status" column="status"/>

        <result property="deleted" column="deleted"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectColumns">
        select id,
               org_id,
               balance,
               status,
               deleted,
               create_time,
               update_time
        from t_org_account
    </sql>

    <select id="findFirstByOrgId" resultMap="OrgAccount">
        <include refid="selectColumns"/>
        where deleted = 0 and org_id = #{orgId} limit 1
    </select>

    <insert id="insert" parameterType="ag.orca.living.core.entity.org.OrgAccount">
        insert t_org_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="orgId != null">org_id,</if>

            <if test="balance != null">balance,</if>
            <if test="status != null">status,</if>

            <if test="deleted != null">deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="orgId != null">#{orgId},</if>

            <if test="balance != null">#{balance},</if>
            <if test="status != null">#{status},</if>

            <if test="deleted != null">#{deleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateStatus">
        update t_org_account
        set status      = #{lockStatus},
            update_time = #{dateTime}
        where deleted = 0
          and org_id = #{orgId}
    </update>

    <update id="debitBalance">
        update t_org_account
        set balance     = #{balance},
            update_time = #{dateTime}
        where deleted = 0
          and org_id = #{orgId}
    </update>


</mapper>