<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ag.orca.living.core.dao.org.OrgSensitiveWordMapper">

    <resultMap id="OrgSensitiveWord" type="ag.orca.living.core.entity.org.OrgSensitiveWord">
        <result property="id" column="id"/>
        <result property="orgId" column="org_id"/>

        <result property="words" column="words"/>

        <result property="deleted" column="deleted"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectColumns">
        select id,
               org_id,
               words,
               deleted,
               create_time,
               update_time
        from t_org_sensitive_word
    </sql>

    <insert id="batchInsert">
        insert t_org_sensitive_word(org_id, words, deleted, create_time, update_time)
        values
        <if test="sensitives != null and sensitives.size()>0">
            <foreach collection="sensitives" open="" close="" separator="," item="word">
                ( #{word.orgId}, #{word.words}, #{word.deleted}, #{word.createTime}, #{word.updateTime} )
            </foreach>
        </if>
    </insert>

    <update id="updateWordsById">
        update t_org_sensitive_word
        set words = #{words}
        where id = #{id}
    </update>

    <select id="findListByOrgId" resultMap="OrgSensitiveWord">
        <include refid="selectColumns"/>
        where org_id = #{orgId} and deleted = 0
    </select>


    <update id="logicDel">
        update t_org_sensitive_word
        set deleted = 1 , update_time = #{dateTime}
        where org_id = #{orgId}
        and id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <select id="findListByOrgIdAndWordsLike" resultMap="OrgSensitiveWord">
        <include refid="selectColumns"/>
        <where>
            and deleted = 0
            <if test="orgId != null">and org_id = #{orgId}</if>
            <if test="words != null and words !=''">and words like concat('%', #{words},'%')</if>
        </where>
    </select>

</mapper>