<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ag.orca.living.core.dao.sys.SysRobotMapper">


    <resultMap id="SysRobot" type="ag.orca.living.core.entity.sys.SysRobot">
        <result property="id" column="id"/>
        <result property="nickname" column="nickname"/>
        <result property="headIco" column="head_ico"/>
        <result property="deleted" column="deleted"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectColumns">
        select id,
               nickname,
               head_ico,
               deleted,
               create_time,
               update_time
        from t_sys_robot
    </sql>
    <select id="findAll" resultMap="SysRobot">
        <include refid="selectColumns"/>
    </select>


</mapper>